.main
  display: flex
  margin-top: 160px

.flexElements
  display: flex
  margin-top: 64px
  position: relative
  input
    height: 56px
    width: 424px
    padding: 16px 48px
    background: none
    border: solid 1px #FFFFFF
    border-radius: 40px
    color: white

  img
    position: absolute
    top: 20px
    left: 20px
  button
    font-family: 'Gilroy-Bold', sans-serif
    font-size: 16px
    line-height: 19px
    padding: 18px 32px
    margin-right: 23px
    border-radius: 200px
    cursor: pointer
    margin-left: 24px

.title
  font-family: Gilroy-Bold, sans-serif
  font-size: 48px
  line-height: 58px
  color: white
  text-align: left

.capcha
  margin-top: 24px
  color: white
  input
    margin-right: 16px


.notRobot
  position: relative
  top: -4px
  left: 16px
.subTitle
  color: white
  font-size: 16px
  line-height: 24px
  width: 610px
  margin-top: 40px

.circle
  width: 387px
  height: 387px
  background: #1f1f1f
  border-radius: 100%
  position: relative
  text-align: center
  padding: 20px
  box-sizing: border-box
  margin-left: 163px


.circle::before
  border-radius: 50%
  content: ''
  background-image: linear-gradient(to bottom, #3253FF00 0%, #3253FF 100%)
  top: -2px
  left: -2px
  bottom: -2px
  right: -2px
  position: absolute
  z-index: -1

.socials
  margin-top: 100px

.socials
  margin-top: 123px
  img:first-child
    margin-right: 24px

.subTitleSocial
  color: white
  font-family: Gilroy-Regular, sans-serif
  font-size: 20px
  margin-top: 24px

.capcha
  input[type="checkbox"]
    clip: rect(0 0 0 0)
    clip-path: inset(50%)
    height: 1px
    overflow: hidden
    position: absolute
    white-space: nowrap
    width: 1px

.checkbox
  display: inline-block
  height: 20px
  width: 20px
  background: #fff
  border: 2px #ddd solid
  margin-right: 4px

