@import url('https://fonts.cdnfonts.com/css/gilroy-bold')


header
  color: white
  display: flex
  height: 41px
  margin-top: 48px
  font-family: 'Gilroy-Regular', sans-serif

.socials
  display: flex
  align-items: center
  justify-content: center
  margin-left: auto
  img:last-child
    margin-left: 24px

nav
  display: flex
  align-items: center
  justify-content: space-between
  width: 787px
  margin-left: 94px

.logo
  display: flex
  justify-content: center
  align-items: center