.logos
  display: flex
  width: 977px
  margin: 0 auto
  justify-content: space-between
  align-items: center
  img
    mix-blend-mode: lighten
    opacity: .3

.main
  margin-top: 90px
  font-family: 'Gilroy-Regular', sans-serif


.title
  color: #1F1F1F
  font-family: 'Gilroy-Bold', sans-serif
  font-weight: 800
  font-size: 56px
  line-height: 150%
  font-style: normal
  width: 860px
  height: 146px
  text-align: left
  span
    background: white
    white-space: pre-wrap
    padding-right: 10px
    span
      position: relative
      left: 10px


.flexElem
  display: flex
  margin-top: 100px

.rate
  color: #3253FF
  font-size: 40px
  height: 120px
  width: 240px
  margin-left: 120px
  display: flex
  justify-content: center
  align-items: center
  border-bottom: 1px solid transparent
  border-top: 1px solid transparent
  border-image: linear-gradient(0.25turn, rgba(56,2,155,0), rgb(255, 255, 255), rgba(56,2,155,0))
  border-image-slice: 1

.subtitle
  margin-top: 40px
  color: white
  font-size: 24px

.buttons
  display: flex
  margin-top: 95px
  button
    font-family: 'Gilroy-Bold', sans-serif
    font-size: 16px
    line-height: 19px
    padding: 18px 32px
    margin-right: 23px
    border-radius: 200px
    cursor: pointer

  button:last-child
    margin-right: 0


